<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <title>TextEdit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      html, body {
        margin: 0;
        width: 100%;
        height: 100%;
      }
      body {
        box-sizing: border-box;
        padding: 15px;
        font-family: "Roboto", sans-serif;
      }
    </style>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        document.body.focus();
      }, false);

      window.addEventListener("beforeunload", function (event) {
        // If the user has entered text, then warn before exiting.
        if (document.body.textContent.trim() != '') {
          event.preventDefault();
          event.returnValue = '';
        }
      });
    </script>
  </head>
  <body contenteditable>

  </body>
</html>

